<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- bean definitions here -->

    <!-- Circular Dependency Occurs when we use constructor injection to inject dependency object in Dependent class -->
    <!-- To Avoid this problem use setter Injection -->
    <!-- Rule 1. one of the bean must use setter injection -->
    <!-- Rule 2. And then bean must be declared 1st among the circular dependent beans -->

    <bean id="serviceA" class="com.tca.bean.ServiceA">
        <property name="serviceB" ref="serviceB"/>
    </bean>

    <bean id="serviceB" class="com.tca.bean.ServiceB">
        <property name="serviceA" ref="serviceA"/>
    </bean>




</beans>
